{% extends 'base.html' %}
{% block body %}
<div class="container my-5">
    <div class="container my 4">
        <h1>About it </h1>
        <p><i>A "ToDo" website is a digital platform designed to help users efficiently manage their tasks and daily activities. It typically features functionalities that allow users to create, update, and delete tasks, as well as organize them into various categories or projects. Users can set priorities, deadlines, and reminders to stay on top of their commitments. Many ToDo websites offer additional features such as recurring tasks, progress tracking, and synchronization across multiple devices, ensuring that users can access their task lists anytime, anywhere. The user-friendly interface and intuitive design of ToDo websites make them valuable tools for enhancing productivity and keeping organized in both personal and professional settings.</i></p>
    </div>
</div>






{% endblock body %}